/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

/*
 Version for iPhoneXR 
*/

@media (max-width: 896px) {

  .container {
    width: 100%;
  }

  .col1{
    visibility: hidden;
    width: 0%
  }

  .col2 {
    width: 100%vw;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 50vw !important;
    height: auto !important;
  }

  .login {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    width: 50vw !important;
    height: 50px !important;
  }

  .login img {
    margin-right: 10vw;
  }

  .downloads {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .footer-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 2vh;
    font-weight: bold;
    color: #658AA9;
  }

}

/*
 Version for 1090x731 resolution like in the example 
*/


body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background: #06365f
  linear-gradient(
    180deg,
    rgba(91, 126, 156, 1) 0%,
    rgba(60, 98, 133, 1) 38%,
    rgba(47, 90, 128, 1) 38%,
    rgba(92, 126, 155, 1) 38%,
    rgba(244, 245, 247, 1) 38%,
    rgba(253, 253, 253, 1) 38%,
    white 100%
  )
  top left repeat-x;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.col1 {
  display: flex;
  align-items: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  margin: 1vh 2vw 1vh 2vw;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0vw 2vh 0vw; 
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 1vw;
  padding-left: 1vw;
  width: 10vw;
  height: 5vh;
  background: rgb(111,147,177);
  background: linear-gradient(180deg, rgba(111,147,177,1) 0%, rgba(73,117,154,1) 100%);
  border-radius: 0.5em;
  border: 2px solid #4D7598;
}

.login p {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px grey;
}

.login:hover {
  background: #A2BACD;
  background: linear-gradient(180deg, #A2BACD 0%, rgba(111,147,177,1) 100%);
}

.text-container {
  background: #ffff;
  padding: 0vh 3vw 3vh 3vw;
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.text-container p {
  font-weight: 400;
}


h1 {
  font-weight: bold;
  color: #1C4165;
}

.downloads {
  display: flex;
  flex-direction: row;
  justify-content: flext-start;
}

.downloads img {
  margin-right: 2vw;
}


.footer-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 2vh;
  font-weight: bold;
  color: #658AA9;
}

footer ul li {
  list-style: none;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 0.9em;
}

footer ul li:last-child {
  color: #BEBFBF;
}